
body{
    background-image: none;
    overflow-x: hidden;
}

h2{
    padding: 20px 0px;
}

#menu{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 15;
}

#banner{
    margin: 32px 0 0 72px;
    height: 120px;
}

.menu ul{
    display: none;
}

.menu ul li{
    padding: 5px 10px;
    float: none;
}

.minimenu{
    display: block;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
    font-family: Times;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 0 5px 0;
    margin-left: 3%;
}

.minimenu:first-letter {
    font-size: 120%;
}


.banner{
    height: 10%;
}

.album {
    width: 96%;
    padding: 4% 0;
}

.album img{
    max-height: 65%;
}

.album h2{
    padding: 0px;
}

.album-cart{
    width: 48px;
}

.song-cart{
    width: 72px;
}

.concerts1{
    margin-right: 2%;
}

.concertbox {
    width: 94%;
    height: auto;
    float: none;
}

.memebers{
    width: 94%;
}

.memebers img{
    width: 412px !important;
}

.memebers td{
    padding: 8px;
}

.memebers p{
    margin: 0
}

.history{
    width: 94%;
}

.album-opened,.album-title,.album-songs {
    width: 94%;
}

.album-songs table{
    width: 90%;
}

.td-text {
    display: none;
}

input[type="text"],input[type="number"],textarea {
    width: 100%;
    padding: 18px 12px;
}

textarea{
    height: 240px;
}

input.button, button{
    margin: 10px;
    padding: 18px 12px;
}

#concert{
    margin-top: 0px;
    position: relative;
}

.arrows{
    text-align: right;
    width: 75%;
    position: absolute;
    bottom: 10px;
}

.concert_frame{
    height: 200px;
}

.hp-article p, .concert p{
    margin: 2px 0px;
}

.video{
    display: inline-block;
    width: 280px;
}

.video-iframe{
    width: 280px;
    height: 210px;
}

.logo{
    height: 64px;
    top: 52px;
}

fieldset table td{
    padding: 18px 0px;
}

.title ul li{
    padding-right: 10%;
    font-size: 20px;
}

.doShowReply {
    font-size: 20px;
}

.minimenuicon{
    width: 22px;
    float: left;
    margin-right: 4px;
}

.minimenuicon hr{
    margin: 4px 0px;
}

.social{
    top: 0px;
    right: 0px;
    margin: 3px;
    position: fixed;
    z-index: 16;
}

.left,.right{
    width: 94%;
}

.news{
    float: none;
    width: 94%;
}

.videos1, .videos2{
    margin-right: 2%;
}

.bckg1{
    background: url('/images/banners/asoweb1m.jpg') no-repeat;
}
.bckg2{
    background: url('/images/banners/asoweb2m.jpg') no-repeat;
}
.bckg3{
    background: url('/images/banners/asoweb3m.jpg') no-repeat;
}
.bckg4{
    background: url('/images/banners/asoweb4m.jpg') no-repeat;
}
.bckg5{
    background: url('/images/banners/asoweb5m.jpg') no-repeat;
}
.bckg6{
    background: url('/images/banners/asoweb6m.jpg') no-repeat;
}
.bckg7{
    background: url('/images/banners/asoweb7m.jpg') no-repeat;
}

fieldset{
    width: auto;
}

.audio2{
    display: block;
}

.audio1{
    display: none;
}