
.menu{
    height: 104px;
}

.menu ul li{
    font-size: 24px;
    padding: 8px 16px;
}

.banner{
    height: 10%;
}

.album-songs td{
    padding: 4px 0;
}

.td-text{
    display: none;
}

.album-cart{
    width: 64px;
}

.album-cart-all{
    width: 64px;
}

.logo{
    height: 8%;
}

input.button, button{
    font-size: 26px;
    margin: 6px;
    padding: 12px 6px;
}


