<html>
<head>
	<meta charset="UTF-8" >
	<meta name="Distribution" content="Global" >
	<meta name="Author" content="Martin Zadražil" >
	<meta name="Robots" content="all, index, follow" >

	<meta name="viewport" id="viewportmeta" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<link rel="stylesheet" type="text/css" href="{$baseUri}/css/style.css">

	<title>Dvůr hradecké královny Alžběty Richenzy - chyba serveru 500</title>
</head>
<body>
<img class="richenza" src="/images/rejcka.png">
<img class="piedestal" src="/images/piedestal.png">
<div class="main">
	<div style="padding-top: 250px">
		<div>
			<h1>Vnitřní chyba serveru</h1>
			<hr />
			<h4>Omlouváme se. Došlo k vnitřní chybě serveru a váš požadavek nemůže být obsloužen. Zkuste to prosím později.</h4>
			<p><small style="color: white;">error 500</small></p>
		</div>
	</div>
</div>
<footer>
	Copyright © 2004 - {php echo date('Y')} hradeckydvur.net
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Vytvoření a správa: Freetech Ltd. (<a href="http://freetech.cz">freetech.cz</a>)
</footer>
<script type="text/javascript" src="{$baseUri}/js/app.js"></script>
</body>
</html>
