<html>
<head>
	<meta charset="UTF-8" >
	<meta name="Distribution" content="Global" >
	<meta name="Author" content="Martin Zadražil" >
	<meta name="Robots" content="all, index, follow" >
	<meta name="viewport" id="viewportmeta" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<link rel="stylesheet" type="text/css" href="http://cms.freetech.cz/bower_components/lightbox/css/lightbox.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">

	<script src="http://cms.freetech.cz/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="http://cms.freetech.cz/bower_components/lightbox/js/lightbox.min.js" type="text/javascript"></script>

	<title>Atelier Dvořák - chyba serveru 500</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-10"></div>
			<a class="navbar-brand" href="/">
				<div class="logo">
					<span>A</span><span>D</span>
				</div>
				<div class="logotext">ATELIÉR<br>DVOŘÁK</div>
			</a>
		</div>
		<div class="col-md-6 col-xs-2">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarSupportedContent" class="navbar-collapse collapse">
				<ul class="nav navbar-nav ml-auto">
					<li><a class="nav-link" href="">&nbsp;</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="jumbotron" style="height: calc(100vh - 250px); min-height: 300px;">
	<div class="jumboinner">
		<h1>Vnitřní chyba serveru</h1>
		<hr />
		<h4>Omlouváme se. Došlo k vnitřní chybě serveru a váš požadavek nemůže být obsloužen. Zkuste to prosím později.</h4>
		<p><small style="color: white;">error 500</small></p>
	</div>
</div>
<div class="container-fluid" style="margin-top: -50px;">
	<div class="container">
		<div class="row">
			<div class="col-md-4">Atelier Dvořák, družstvo<br />
				5.května 764, 252 19 Rudná<iframe frameborder="0" height="200" src="https://api.mapy.cz/frame?params=%7B%22x%22%3A14.212274532392378%2C%22y%22%3A50.02628898408233%2C%22base%22%3A%221%22%2C%22layers%22%3A%5B%5D%2C%22zoom%22%3A17%2C%22url%22%3A%22https%3A%2F%2Fmapy.cz%2Fs%2F2sLp6%22%2C%22mark%22%3A%7B%22x%22%3A%2214.212274532392378%22%2C%22y%22%3A%2250.02628898408233%22%2C%22title%22%3A%225.%20kv%C4%9Btna%20764%2C%20Rudn%C3%A1%22%7D%2C%22overview%22%3Atrue%7D&width=300&height=200&lang=cs" style="border:none" width="300"></iframe></div>

			<div class="col-md-4"><img src="http://admin.duladula.cz/images/userimages/large/e26a4f117d5a6c6b02ee0ec79f85e1cd.png" style="width:64px" /><br />
				Telefon do kanceláře: +420 311 679 334<br />
				Ing. Luboš Krnáč: +420 604 605 674<br />
				Ing. Miloslav Dvořák: +420 736 674 341</div>

			<div class="col-md-4"><img src="http://admin.duladula.cz/images/userimages/large/5e062c46d5761e7106c81dfa42b6348a.png" style="width:64px" />
				<p>E-mail: <a href="mailto:info@atelier-dvorak.cz">info@atelier-dvorak.cz</a></p>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

