<html>
<head>
	<meta charset="UTF-8" >
	<meta name="Distribution" content="Global" >
	<meta name="Author" content="Martin Zadražil" >
	<meta name="Robots" content="all, index, follow" >

	<link rel="stylesheet" type="text/css" href="http://cms.freetech.cz/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://cms.freetech.cz/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script src="http://cms.freetech.cz/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>

	<script src="http://cms.freetech.cz//coffee/ComponentJS/core.js" type="text/javascript"></script>
	<script src="http://cms.freetech.cz//coffee/ComponentJS/event.js" type="text/javascript"></script>
	<script src="http://cms.freetech.cz//coffee/ComponentJS/component.js" type="text/javascript"></script>
	<script src="http://cms.freetech.cz//coffee/ComponentJS/document.js" type="text/javascript"></script>

	<title>Dula Martina Šebestová - stránka nenalezena 404</title>
</head>
<body>
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Dula Martina Šebestová</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
		</ul>
	</div>
</div>
<div class="container" style="padding-top: 100px;">
	<h1>Stránka nenalezena</h1>
	<p>Stránka, kterou požadujete, nebyla nalezena. Je možné, že zadaná adresa je nesprávná nebo tato stránka již neexistuje.</p>
	<p><small>error 404</small></p>
</div>
<footer class="footer" style="position: absolute;bottom: 0;width:100%;">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<br>
				Copyright &copy; 2015 - {date('Y')} Dula Martina Šebestová
				<br>
				Vytvoření a správa: Martin Zadražil (<a href="http://www.freetech.cz">freetech.cz</a>)
				<br>
				Obraz na úvodní stránce: Milena Ebergényi (<a href="http://www.ebeart.cz">ebeart.cz</a>)
			</div>
			<div class="col-sm-4">
				<a href="https://www.facebook.com/Dula-Martina-Šebestová-347864415399846" target="_blank">
					<img src="/images/facebook.png" style="height: 50%;margin: 14px;">
				</a>
			</div>
		</div>
	</div>
</footer>
<script src="http://cms.freetech.cz/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
