<html>
<head>
	<meta charset="UTF-8" >
	<meta name="Distribution" content="Global" >
	<meta name="Author" content="Martin Zadražil" >
	<meta name="Robots" content="all, index, follow" >
	<meta name="viewport" id="viewportmeta" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<link rel="stylesheet" type="text/css" href="/css/frontend.css">

	<title>9th Illinois Cavalry Regiment - stránka nenalezena 404</title>
</head>
<body style="background: black;">
<div class="main">
	<div class="header">
		<img class="title" src="/images/title.png">
		<div class="left_panel">
			<div class="menu">
				<img src="/images/brackett.jpg" width="160" class="brackett">
				<img src="/images/logo.png" width="160" class="brackett">
			</div>
		</div>
	</div>
	<div class="content">
		<h1>Stránka nenalezena</h1>
		<p>
			Stránka, kterou požadujete, nebyla nalezena. Je možné, že zadaná adresa je nesprávná nebo tato stránka již neexistuje. Použijte prosím vyhledávač abyste našli co hledáte.
		</p>
		<h1>Page Not Found</h1>
		<p>The page you requested could not be found. It is possible that the address is
			incorrect, or that the page no longer exists. Please use a search engine to find
			what you are looking for.</p>
		<p><small>error 404</small></p>
	</div>
</div>
<div class="footer">
	Copyright &copy; 2015 - <span id="date"></span> 9th Illinois Cavalry Regiment
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Vytvoření a správa: Martin Zadražil (<a href="http://www.freetech.cz">freetech.cz</a>)
</div>
<script type="text/javascript">
	document.getElementById('date').innerHTML = ((new Date()).getFullYear());
</script>
</body>
</html>