<html>
  <head>
    <meta charset="UTF-8" >
    <meta name="Distribution" content="Global" >
    <meta name="Author" content="Martin Zadražil" >
    <meta name="Robots" content="all, index, follow" >

		<link rel="stylesheet" type="text/css" href="http://cms.freetech.cz/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://cms.freetech.cz/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="{$baseUri}/css/style.css">

		<script src="http://cms.freetech.cz/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>

		<script src="http://cms.freetech.cz//coffee/ComponentJS/core.js" type="text/javascript"></script>
		<script src="http://cms.freetech.cz//coffee/ComponentJS/event.js" type="text/javascript"></script>
		<script src="http://cms.freetech.cz//coffee/ComponentJS/component.js" type="text/javascript"></script>
		<script src="http://cms.freetech.cz//coffee/ComponentJS/document.js" type="text/javascript"></script>

		<title>Dula Martina Šebestová {$title}</title>
	</head>
  <body>
  	{block content}{/block}
		<script src="http://cms.freetech.cz/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
