{?extract($data[$item['id']])?}
<script src="{$basePath}/coffee/article_loader.js" type="text/javascript"></script>

<div id="articles">
{foreach $articles as $article}{!$article}{/foreach}
</div>

<script type="text/javascript">
var articleLoader = new ArticleLoader();
articleLoader.setBaseUrl({link Ajax:default}).setMenuId({$menuId}).run()
</script>