{layout '@layout.latte'}

{block content}
	<div class="main">
		<div class="header">
			<img class="title" src="/images/title.png">
			<div class="left_panel">
				<img src="/images/brackett.jpg" width="160" class="brackett">
					{include 'menu.latte', 'menu' => $items, 'url' => ''}
			</div>
		</div>
		<div class="content">	{include 'containers.latte'}
		</div>
	</div>
{/block}
