{php extract($data[$item['id']])}
<script src="{$basePath}/coffee/discussion.js" type="text/javascript"></script>
{$text|noescape}
<div id="discussion"></div>
<script type="text/javascript">
	var doc = new CJS.Document();
	var discussion = new Discussion('discussion', doc.render());
	discussion.setBaseUrl({link Ajax:default}).setMenuId({$menuId}).load();
</script>
