{if !isset($folder)}
{php extract($data[$item['id']])?}
{/if}
<h1>{$folder['name']}</h1>
<div>
	{if isset($folder['text'])}{$folder['text']|noescape}{/if}
</div>
<ul>
	{if isset($folder['folders'])}
		{foreach $folder['folders'] as $folderItem}
			<li style="width:168px;height:168px;float:left;list-style-type:none;text-align:center;">
				<div>
				{if isset($folderItem['images'][0]) }
					<table class="galleryinner"><tr><td>
						<a href="/{$url}/{$folderItem['url']}.html" class="image">
							<img src="http://{$adminHost}/images/userimages/medium/{$folderItem['images'][0]['file']}" class="mediumimg">
							<div class="popisek"><span>{$folderItem['name']}</span></div>
						</a>
					</td></tr></table>
				{/if}
				</div>
			</li>
		{/foreach}
	{/if}

	{if isset($folder['images'])}
		{foreach $folder['images'] as $image}
			<li style="width:168px;height:168px;float:left;list-style-type:none;text-align:center;">
				<div>
					<table class="galleryinner" border=1><tr><td>
			{if $image['type'] == 'general'}
				<a href="{plink download, 'hash' => $image['file']}">
					<span>{$image['name']}</span>
				</a>
			{else}
			<a href="http://{$adminHost}/images/userimages/large/{$image['file']}" class="image" data-lightbox="image-1" data-title="{$image['name']}">
				<img src="http://{$adminHost}/images/userimages/medium/{$image['file']}" class="mediumimg">
				<div class="popisek"><span>{$image['name']}</span></div>
			</a>
			{/if}
					</td></tr></table>
				</div>
			</li>
		{/foreach}
	{/if}
</ul>
<div style="clear: both;"></div>