<ul class="menu">
{foreach $menu['items'] as $item}
	{if $item['visibility'] == 'visible'}
		<li>
		{var $link = $url . '/' . $item['url'] }
		{if $item['id'] == $menuId}
			<span>{$item['text']}</span>
		{else}
			<a href="{$link}.html">{$item['text']}</a>
		{/if}
		{if isset($item['items'])}
			{include 'menu.latte', menu => $item, url => $link}
		{/if}
		</li>
	{/if}
{/foreach}
</ul>