<ul>
{foreach $menu['items'] as $menuItem}
	{if $menuItem['visibility'] == 'visible'}
		<li>
		{if !empty($absolute)}
			{var $parts = explode('/', $url)}
			{? $parts[count($parts)-1] = $item['url'] ?}
			{var $link = implode('/', $parts)}
		{else}
			{var $link = $url . '/' . $item['url'] }
		{/if}
		{if $item['id'] == $menuId}
			<a href="{$link}.html" class="active">{$item['text']}</a>
		{else}
			<a href="{$link}.html">{$item['text']}</a>
		{/if}
		</li>
	{/if}
{/foreach}
</ul>